<ons-page ons-show="app.title = 'ホーム'" ng-controller="pageHomeController as page">

  <ons-pull-hook ng-action="page.load($done)" var="loader_home">
    <span ng-switch="loader_home.state">
      <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> 引っ張って再読み込み</span>
      <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> 指を離すと読み込みます</span>
      <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> 読み込み中...</span>
    </span>
  </ons-pull-hook>

  <!-- <ons-toolbar>
    <div class="center">My App - {{app.title}}</div>
  </ons-toolbar> -->

  <!-- <div class="mt30 tac">
    <p>Page 1 content</p>
  </div> -->

  <div>
    <ons-carousel var="home_carousel_tab" id="home_tab" class="menu_tab" swipeable auto-scroll overscrollable item-width="100px">
      <ons-carousel-item class="tab_topic active" ng-click="tapCarouselTab(0)">トピック</ons-carousel-item>
      <ons-carousel-item class="tab_entame" ng-click="tapCarouselTab(1)" centered>エンタメ</ons-carousel-item>
      <ons-carousel-item class="tab_sports" ng-click="tapCarouselTab(2)">スポーツ</ons-carousel-item>
      <ons-carousel-item class="tab_topic" ng-click="tapCarouselTab(3)">コラム</ons-carousel-item>
      <ons-carousel-item class="tab_entame" ng-click="tapCarouselTab(4)">まとめ</ons-carousel-item>
    </ons-carousel>

    <ons-carousel var="home_carousel_contents" id="home_carousel" class="carousel_contents" ons-postchange="swipeCarouselContents($event.activeIndex)" fullscreen swipeable auto-scroll overscrollable>

      <!-- トピック -->
      <ons-carousel-item class="pt1">
        <p class="tac">トピック</p>
        
        <ons-card class="card_home" ng-click="myNavigator.pushPage('html/post.html', { animation: 'slide' })">
          <img src="https://dl.dropboxusercontent.com/s/bvx7a6dvaacal9x/tmb_soccer01.png">
          <div class="content">
            <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
            <div class="home_card_meta">フットボールチャンネル</div>
          </div>
        </ons-card>

        <ons-card class="card_home" ng-click="myNavigator.pushPage('html/test_rakuten.html', { animation: 'slide' })">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">年始のハワイ旅行に向けて、今年は節約！</div>
                <div class="home_card_meta">楽天カード：グラフ</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home" ng-click="myNavigator.pushPage('html/test_cookpad.html', { animation: 'slide' })">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">料理記録</div>
                <div class="home_card_meta">Cookpad: カレンダー</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home" ng-click="myNavigator.pushPage('html/test_shufoo.html', { animation: 'slide' })">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">【02/27限り】特売情報</div>
                <div class="home_card_meta">Shufoo: チラシ</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home" ng-click="myNavigator.pushPage('html/test_gnavi.html', { animation: 'slide' })">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">京橋のイタリアン・フレンチ特集</div>
                <div class="home_card_meta">ぐるなび: 条件検索</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home" ng-click="myNavigator.pushPage('html/post.html', { animation: 'slide' })">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

      </ons-carousel-item>

      <!-- エンタメ -->
      <ons-carousel-item class="pt2">
        <p class="tac">エンタメ</p>
        
        <ons-card>
          <img src="https://dl.dropboxusercontent.com/s/bvx7a6dvaacal9x/tmb_soccer01.png">
          <div class="content">
            <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
            <div class="home_card_meta">フットボールチャンネル</div>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

      </ons-carousel-item>

      <!-- スポーツ -->
      <ons-carousel-item class="pt3">
        <p class="tac">スポーツ</p>
        <ons-card>
          <img src="https://dl.dropboxusercontent.com/s/bvx7a6dvaacal9x/tmb_soccer01.png">
          <div class="content">
            <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
            <div class="home_card_meta">フットボールチャンネル</div>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

      </ons-carousel-item>

      <!-- コラム -->
      <ons-carousel-item class="pt1">
        <p class="tac">コラム</p>
        
        <ons-card class="card_home" ng-click="myNavigator.pushPage('html/post.html', { animation: 'slide' })">
          <img src="https://dl.dropboxusercontent.com/s/bvx7a6dvaacal9x/tmb_soccer01.png">
          <div class="content">
            <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
            <div class="home_card_meta">フットボールチャンネル</div>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

      </ons-carousel-item>

      <!-- まとめ -->
      <ons-carousel-item class="pt2">
        <p class="tac">まとめ</p>
        
        <ons-card>
          <img src="https://dl.dropboxusercontent.com/s/bvx7a6dvaacal9x/tmb_soccer01.png">
          <div class="content">
            <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
            <div class="home_card_meta">フットボールチャンネル</div>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

        <ons-card class="card_home">
          <div class="content">
            <ons-row>
              <ons-col width="65%">
                <div class="home_card_title">香川真司、ベジクタシュで待つ新たな11人の仲間。ライバルは強力、言わ…</div>
                <div class="home_card_meta">フットボールチャンネル</div>
              </ons-col>
              <ons-col width="30%" class="home_card_thumb">
                <img src="https://dl.dropboxusercontent.com/s/wms12u0zorn77u1/tmb_soccer02.png">
              </ons-col>
            </ons-row>
          </div>
        </ons-card>

      </ons-carousel-item>

    </ons-carousel>
    
  </div>

  

</ons-page>

